baseURL = 'https://example.org/'
languageCode = 'en-us'
title = 'Hugo Demo Blog'

theme = "hugo-basic-starter-template"

[menus]
[[menus.main]]
name = 'Home'
pageRef = '/'
weight = 10

[[menus.main]]
name = 'Posts'
pageRef = '/posts'
weight = 20

[[menus.main]]
name = 'Tags'
pageRef = '/tags'
weight = 30